.logInTitle {
  font-size: 30px;
  position: relative;
  top: 10px;
}

.logInFormDiv {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  max-width: 70%;
  margin: 50px auto;
  padding: 50px;
  height: 70vh;
}

.emailAndPasswordInputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

  .emailAndPasswordInputDiv input {
    background-color: white;
    border: 2px solid lightgray;
    padding: 5px 15px;
    width: 50vw;
    height: 30px;
    margin-bottom: 10px;
  }

.logInAndSignUpButtonDiv {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 50px;
  text-decoration: underline;
  text-decoration-color: deepskyblue;
}


input[type="submit"] {
  background-color: white;
  border: 2px solid lightgray;
  padding: 5px 15px;
  cursor: pointer;
  color: deepskyblue;
}

button {
  background-color: white;
  border: 2px solid lightgray;
  padding: 5px 15px;
  cursor: pointer;
  color: deepskyblue;
}

input[type="submit"]:hover {
  background-color: #cacaca;
  border-color: darkgray;
}

button:hover {
  background-color: #cacaca;
  border-color: darkgray;
}

.error-message {
  color: red;
  font-size: 15px;
}
