<h2 class="signUpTitle">Create Profile</h2>

<div class="signUpFormDiv">
  <form (ngSubmit)="register()">
    <div class="usernameAndEmailAndPasswordInputDiv">
      <input type="text" [(ngModel)]="username" name="username" placeholder="Username Input" required><br>
      <input type="email" [(ngModel)]="userEmail" name="userEmail" placeholder="Email Input" required><br>
      <input type="password" [(ngModel)]="userPassword" name="userPassword" placeholder="Password Input" required><br><br>
    </div>

    <div class="createProfileButtonDiv">
      <button type="submit" >Create Profile</button>
      <button type="button" (click)="redirectToLoginPage()">Log In</button>
    </div>
  </form>
</div>

<p *ngIf="registerMessage"> {{ registerMessage }} </p>
