<h2 class="signUpTitle">Create Profile</h2>

<div class="signUpFormDiv">
  <form (ngSubmit)="register()">
    <div class="usernameAndEmailAndPasswordInputDiv">
      <input type="text" [(ngModel)]="username" name="username" placeholder="Username Input"><br>
      <input type="text" [(ngModel)]="userEmail" name="userEmail" placeholder="Email Input"><br>
      <input type="text" [(ngModel)]="userPassword" name="userPassword" placeholder="Password Input"><br><br>
    </div>

    <div class="createProfileButtonDiv">
      <button type="button" (click)="createProfileRedirect()">Create Profile</button>
    </div>
  </form>
</div>

<p *ngIf="registerMessage"> {{ registerMessage }} </p>
