<h1 class="homepageTitle">DSArena</h1>
<div class="homepageIntroDiv">
  <img class="homepageImg" src="assets/images/pexels-pixabay-270366.jpg" alt="Screen with code" width="900" height="600"/>
  <p>Welcome to DSArena! A place to learn and train yourself on crucial topics in Data Structures and Algorithms to equip the necessary skills to ace technical interviews! Select a topic and test your memory with DSA-oriented flashcards, assess your knowledge with challenging quizzes, visualise your favourite algorithms with built-in diagramming tools, and receive personalised feedback from your chatbot!</p>
</div>
