.homepageTitle {
  font-size: 40px;
  position: relative;
  top: 10px;
}

.homepageIntroDiv {
    background-color: lightgrey;
    height: 50vh;
    margin: 70px;
    padding: 50px;
}

.homepageImg {
}
