<h2 class="aiChatTitle">AI Chat</h2>

<div class="chatboxDiv">
  <div class="messages">
    <div *ngFor="let message of messages"> <!--loop thru msg arr-->
      <div [ngClass]="{'aiMessages': message.sender === 'ai', 'userMessages': message.sender === 'user'}"> <!--ngClass for dynamic css-->
        <p>{{ message.content }}</p>
      </div>
    </div>
  </div>

  <div class="userInputBar">
    <input type="text" [(ngModel)]="userMessage" placeholder="Type your message here" (keyup.enter)="sendMessage()">
    <button type="button" class="sendBtn" (click)="sendMessage()">➜</button>
  </div>
</div>
