.flashcardsTitle {
  font-size: 32px;
  position: relative;
  top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #00bfff;
}

.flashcardOptionsBar {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #e0f7fa;
  color: white;
  position: relative;
}

#DSATopicsTitle {
  color: black;
  width: 180px;
  height: 30px;
  background-color: white;
  font-size: 21px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flashcardOptionsDropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.flashcardBox {
  background-color: #e0f7fa;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  background-color: white;
  border: 2px solid #87cefa;
  padding: 5px 15px;
  cursor: pointer;
  color: #00bfff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="submit"]:hover, button:hover {
  background-color: #b0e0e6;
  border-color: #00bfff;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.5);
}

.flashcardDescription {
  font-size: 16px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-bottom: 52px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flashcardTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #00bfff;
}

.flashcardSetsContainer {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .flashcardsTitle {
    font-size: 28px;
  }

  .flashcardBox {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }

  button {
    font-size: 14px;
  }

  .flashcardDescription {
    font-size: 14px;
  }
}
